body{
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.caracters{
    position: absolute;
    background-color: white;
    width: 160px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

input{
    font-size: 17px;
    outline: none;
    border: 1px solid black;
    padding: 2px;
}
input:active{
    outline: none;
}
.sb{
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid black;

}
.sb:active{
    border: 2px solid black;
}

.info_about_cell{
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
}

/*note*/
.notice {
    position: relative;
    margin: 1em;
    width: 350px;
    display: none;
    background: #F9F9F9;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #DDD;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
    border-color: #0074D9;
}

.info:before {
    content: "i";
    background-color: #0074D9;
}
.pos{
    position: absolute;
    top: 0;
    right: 0;
}